<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CKS_1._0</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/teammode.css" />
    

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="display: none;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">CKS_1._0</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

<div class="sidenav">
<input type="image" src="~/images/logo.png" width="60%" height="10%" alt="home" style="margin-left: 16%; margin-bottom: 40px;"/>
<a href="/Index"><input type="image" src="~/images/joystick.png" width="80%" height="70%" alt="home" href="/Index" style="margin-left: 6%;"/></a>
<a href="/GameSettings"><input type="image" src="~/images/steeringwheel.png" width="80%" height="80%" alt="home" href="/Gamesettings" style="margin-left: 7%;"/></a>
<a href="/DeviceSettings"><input type="image" src="~/images/gun.png" width="100%" height="100%" alt="home" href="/DeviceSettings"/></a>
<a href="/Statistics"><input type="image" src="~/images/stats.png" width="70%" height="100%" alt="home" href="/Statistics" style="margin-left: 13%;"/></a>
<a href="/Privacy">Privacy</a>
</div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="border: none!important;">
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/deathmatch.js" asp-append-version="true"></script>
    <script src="~/js/teammode.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
