.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 0px 0px;
  }
  .Page-name { grid-area: 1 / 1 / 2 / 5; }
  .select { grid-area: 1 / 2 / 4 / 6; }
  .player-name { grid-area: 1 / 2 / 5 / 12; }
  .settings-box { grid-area: 4 / 2 / 7 / 12; position: relative; top: 4%; background-color: #C4C4C4; height: 150%;}

  #header{
    font-size: 25px;
    position: relative;
    top: 50%;
  }

  .player-select{
      border: none;
      position: relative;
    top: 60%;
    width: 100%;
    font-size: 22px;
    background-color: rgba(14, 35, 78, 1);
    color: white;
  }

  .option-settings{
    position: relative;
    top: 20%;
    left: 0%;
    font-weight: 600;
    width: 100%;
    font-size: 19px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 16px 0px 12px 13px;
    max-height: 270px;
  }

  .player-id{
    position: relative;
    left: 248px;
  }

  .player-health{
    position: relative;
    left: 17%;
  }

  .player-fire{
    position: relative;
    left: 155px;
  }

  .player-cooldown{
    position: relative;
    left: 124px;
  }

  .player-invulnerability{
    position: relative;
    left: 5%;
  }

  .player-shock{
    position: relative;
    left: 114px;
  }

  .player-regeneration{
    position: relative;
    left: 114px;
  }

  .player-autorevival{
    position: relative;
    left: 114px;
  }

  .apply{
    position: absolute;
    left: 88%;
    bottom: 4%;
    background-color: white;
  }


 /*testing new drop down accordions for players */
.guns{
  grid-row-start:4;
  grid-row-end: 15;
  grid-column-start: 2;
  grid-column-end:12 ;
}
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0e234e;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}