.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 0px 0px;
  }
  .Page-name { grid-area: 1 / 2 / 2 / 5; }
  .select { grid-area: 1 / 2 / 4 / 6; }
  .player-name { grid-area: 1 / 2 / 5 / 12; }
  .settings-box { grid-area: 4 / 2 / 7 / 12; position: relative; top: 4%; background-color: #C4C4C4; height: 150%;}

  #header{
    font-size: 25px;
    position: relative;
    top: 50%;
  }

  .container{
    max-width: 100%;
  }

  .player-select{
      border: none;
      position: relative;
    top: 60%;
    width: 100%;
    font-size: 22px;
    background-color: rgba(14, 35, 78, 1);
    color: white;
  }

  .option-settings{
    position: relative;
    top: 20%;
    left: 0%;
    font-weight: 600;
    width: 100%;
    font-size: 19px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 16px 0px 12px 13px;
    max-height: 270px;
  }

  .player-id{
    position: relative;
    left: 28%;
  }

  .player-health{
    position: relative;
    left: 28%;
  }

  .player-fire{
    position: relative;
    left: 28%;
  }

  .player-cooldown{
    position: relative;
    left: 28%;
  }

  .player-invulnerability{
    position: relative;
    left:28%;
  }

  .player-shock{
    position: relative;
    left:28%;
  }

  .player-regeneration{
    position: relative;
    left: 28%;
  }

  .player-autorevival{
    position: relative;
    left: 28%;
  }

  .bleeding-period{
    position:relative;
    left: 28%;
  }

  .cartridges-revival{
    position:relative;
    left: 28%;
  }

  .vampire-mode{
    position:relative;
    left: 28%;
  }

  .taggers-language{
    position:relative;
    left: 28%;
  }
  .infection-period{
    position:relative;
    left: 28%;
  }

  .infection-amount{
    position:relative;
    left: 28%;
  }

  .timetodie{
    padding-top: 5px;
    position:relative;
    left: 28%;
  }

  .background-brightness{
    position:relative;
    left: 28%;
  }
/*second column of settings start here */
.clips{
  position:relative;
  left: 28%;
}
.cartridges{
  position:relative;
  left: 28%;
}
.burst{
  position:relative;
  left: 28%;
}
.fire-rate{
  position:relative;
  left: 28%;
}
.fire-damage{
  position:relative;
  left: 28%;
}
.reload-duration{
  position:relative;
  left: 28%;
}
.autoreload-mode{
  position:relative;
  left: 28%;
}
.overheating{
  position:relative;
  left: 28%;
}
.infrared-power{
  position:relative;
  left: 28%;
}
.silencer-mode{
  position:relative;
  left: 28%;
}
.idle-period{
  position:relative;
  left: 28%;
}
.vibration-mode{
  position:relative;
  left: 28%;
}
.screen-mode{
  position:relative;
  left: 28%;
}
.volume-shooting{
  position:relative;
  left: 28%; 
}
.volume-main{
  position:relative;
  left: 28%; 
}
.sensor-mode{
  position:relative;
  left: 28%; 
}
.startup-delay-local-game{
  position:relative;
  left: 28%; 
}
.save-cartridges{
  position:relative;
  left: 28%; 
}
.break-period{
  position:relative;
  left: 28%;
}
.selector-mode{
  position:relative;
  left: 28%;
}

.apply-btn {
  position:relative;
  left: 40%;
  padding: 7px 20px;
  background-color: rgba(14, 35, 78, 1);
  color: white;
}
button:hover {
  cursor: pointer;
  background-color: #df0512;
}


/*apply button*/
  .apply{
    position: absolute;
    left: 88%;
    bottom: 4%;
    background-color: white;
  }


 /*testing new drop down accordions for players */
.guns{
  grid-row-start:4;
  grid-row-end: 15;
  grid-column-start: 2;
  grid-column-end:12 ;
}
  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #0e234e;
  color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #df0512;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}


/* Create four equal columns that floats next to each other */
.column {

  float: left;
  width: 25%;
 /*  height: 300px; Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row{
  overflow: scroll;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Accordion contents adjust */
.column1{
padding: 0px

}
.column1 li{

  list-style-type: none;
  margin: 10px;
  padding: 10px;

}

.column2{
padding-bottom: 0px;

}

.column2 li{

  list-style-type: none;
  margin: 10px;
  padding: 10px;

}

.column3 {
  padding: 0px
}
.column3 li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

.column4{
  padding: 0px
}

.column4 li{
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

/* Create four equal columns that floats next to each other */

