@page
@model DeviceSettingsModel
@{
    ViewData["Title"] = "Devices Settings";
}
<section class="main">
<div class="text-center">
    <h1 class="display-4">Manage your Device settings here</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Device Settings </h1>
    <p>Raise to a new level and modernise your karting business! </p>
</div>

<div class="sidenav">
  <a href="/Index">Home</a>
  <a href="#">Game Settings</a>
  <a href="/DeviceSettings">Devices settings</a>
  <a href="#">Sounds</a>
  <a href="#">Statistics</a>
  <a href="#">Application Settings</a>
  <a href="/Privacy">Privacy</a>
</div>
</section>