@page
@model DeviceSettingsModel
@{
    ViewData["Title"] = "Devices Settings";
}

<section class="main">
<div class="text-center">
    <h1 class="display-4" style="text-align: center;">Device Settings</h1>
</div>

<div class="container">
  <div class="gamers"> 
  <h1>Connected devices should appear here</h1>
  <p></p>
</div>
</div>


<div class="settingstable">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Device Name</th>
      <th scope="col">Status</th>
      <th scope="col">Battery Level</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sub Machine Gun</td>
      <td>Connected</td>
      <td>90%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Glock</td>
      <td>Not Connected</td>
      <td>85%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Toy gun </td>
      <td>Connected </td>
      <td>100%</td>
    </tr>
     <tr>
      <th scope="row">1</th>
      <td>Sub Machine Gun</td>
      <td>Connected</td>
      <td>90%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Glock</td>
      <td>Not Connected</td>
      <td>85%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Toy gun </td>
      <td>Connected </td>
      <td>100%</td>
    </tr>
     <tr>
      <th scope="row">1</th>
      <td>Sub Machine Gun</td>
      <td>Connected</td>
      <td>90%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Glock</td>
      <td>Not Connected</td>
      <td>85%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Toy gun </td>
      <td>Connected </td>
      <td>100%</td>
    </tr>
     <tr>
      <th scope="row">1</th>
      <td>Sub Machine Gun</td>
      <td>Connected</td>
      <td>90%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Glock</td>
      <td>Not Connected</td>
      <td>85%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Toy gun </td>
      <td>Connected </td>
      <td>100%</td>
    </tr>
     <tr>
      <th scope="row">1</th>
      <td>Sub Machine Gun</td>
      <td>Connected</td>
      <td>90%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Glock</td>
      <td>Not Connected</td>
      <td>85%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Toy gun </td>
      <td>Connected </td>
      <td>100%</td>
    </tr>
     <tr>
      <th scope="row">1</th>
      <td>Sub Machine Gun</td>
      <td>Connected</td>
      <td>90%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Glock</td>
      <td>Not Connected</td>
      <td>85%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Toy gun </td>
      <td>Connected </td>
      <td>100%</td>
    </tr>
     <tr>
      <th scope="row">1</th>
      <td>Sub Machine Gun</td>
      <td>Connected</td>
      <td>90%</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Glock</td>
      <td>Not Connected</td>
      <td>85%</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Toy gun </td>
      <td>Connected </td>
      <td>100%</td>
    </tr>
  </tbody>
</table>
</div>
</section>
