@page
@model GameSettingsModel
@{
    ViewData["Title"] = "Game Settings";
}
<section class="main">
<div class="text-center">
    <h1 class="display-4" style="text-align: left;">Game settings</h1>
    
</div>
<div>
        <span class="dot" style="height: 20px; width: 20px; background-color: green; border-radius: 50%; display: inline-block;"></span><p>GAMERS</p>
    </div>
<div class="sidenav">
  <a href="/Index">Home</a>
  <a href="/GameSettings">Game Settings</a>
  <a href="/DeviceSettings">Devices settings</a>
  <a href="/Sounds">Sounds</a>
  <a href="/Statistics">Statistics</a>
  <a href="/AppSettings">Application Settings</a>
  <a href="/Privacy">Privacy</a>
</div>
</section>