@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="main">
<div class="text-center">
    <h1 class="display-4" style="text-align: left;">Combat Karts Software 1.0</h1>
</div>

<div class="container">
  <div class="gamers"> 
  <h1>List of active gamers and top players</h1>
  <p>Weekly, monthly and all time</p>
</div>
</div>


</section>
