@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="sidenav">
    <a href="/Index">Home</a>
  <a href="/GameSettings">Game Settings</a>
  <a href="/DeviceSettings">Devices settings</a>
  <a href="#">Sounds</a>
  <a href="#">Statistics</a>
  <a href="#">Application Settings</a>
  <a href="/Privacy">Privacy</a>
</div>

