@page
@model StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}
<section class="main">
<div class="text-center">
    <h1 class="display-4" style="text-align: left;">Statistics</h1>
</div>

<div class="sidenav">
  <a href="/Index">Home</a>
  <a href="/GameSettings">Game Settings</a>
  <a href="/DeviceSettings">Devices settings</a>
  <a href="/Sounds">Sounds</a>
  <a href="/Statistics">Statistics</a>
  <a href="/AppSettings">Application Settings</a>
  <a href="/Privacy">Privacy</a>
</div>
</section>