@page
@model StatisticsModel
@{
    ViewData["Title"] = "Statistics";
}
<section class="main">
<div class="text-center">
    <h1 class="display-4" style="text-align: left;">Statistics</h1>
</div>


</section>


